@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem /* 16px */;
  padding-left: 1rem /* 16px */;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
    padding-right: 70px;
    padding-left: 70px;
  }
}

.transitionEffect {
  @apply transition ease-in-out hover:-translate-y-1 delay-150 hover:scale-95 duration-300;
}

html {
  scroll-behavior: smooth;
}
